@media only screen and (max-width: 800px) {
  #divExtras {
    flex-direction: column !important;
  }

  #divExtras > div {
    width: 100% !important;
  }
}

.labelAlineado {
  display: inline-block;
  width: 150px;
}

.labelAlineadoCertificado {
  width: 235px;
}

/* Los mensajes del servidor van centrados */

p#mensajes {
  text-align: center;
}

main {
  padding-top: 120px !important;
}

.info {
  background-color: #e7f3fe;
  border-left: 6px solid #2196f3;
}

.containerAnuncioSeleccionado {
  width: 100%;
}

#divMiniaturas img {
  width: 200px;
  height: 125px;
  display: "flex";
  flex-direction: "column";
}

@media only screen and (max-width: 1050px) {
  .contentAdSelected {
    width: 100%;
  }

  .carrusel {
    width: 100%;
  }

  #imagenGrande {
    width: 70%;
    height: 50%;
  }

  #divMiniaturas img {
    width: 150px;
  }
}

#btnVolverABuscar {
  margin-top: 10%;
}

.column {
  float: left;
  width: 33.33%;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
  border: 1px solid;
  box-shadow: 5px 10px #888888;
}

.column {
  padding-top: 10px;
  padding-bottom: 10px;
}

.blue-column {
  height: 100px;
}

.green-column {
  height: 100px;
}

#divExtras,
#divExtrasShowAd div {
  margin: 10px;

  /* and that, will result in a 10px gap */
}

#divExtras {
  margin-top: 10px;
}

#divExtrasShowAd {
  margin-top: 550px;
}

#mostrarTodosAnuncios {
  float: right;
  margin-right: 75px;
}
